name: Test image

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4

      - name: Docker Setup Buildx
        uses: docker/setup-buildx-action@v1.7.0

      - name: Docker Login
        uses: docker/login-action@v1.10.0
        with:
          username: ${{secrets.DOCKER_HUB_USERNAME}}
          password: ${{secrets.DOCKER_HUB_ACCESS_TOKEN}}

      - name: Build and test Alpine Docker image
        id: alpine_build
        uses: docker/build-push-action@v2.7.0
        with:
          file: ./alpine/Dockerfile
          context: ./alpine
          target: test

      - name: Build and test Busybox Docker image
        id: busybox_build
        uses: docker/build-push-action@v2.7.0
        with:
          file: ./busybox/Dockerfile
          context: ./busybox
          target: test
